.forgot-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

h1 {
    left: 50%;
    width: 400px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-bottom: 50px !important;
}