.MuiAvatar-root {
    margin: auto;
    margin-bottom: 25px !important;
}

h1 {
    left: 50%;
    width: 95px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-bottom: 5px !important;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#alert-dialog-title {
    font-size: large;
}

#alert-dialog-description {
    font-size: x-large;
}